body {
    font-family: Arial;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

.selected {
    opacity: 1 !important;
    stroke: black;
    stroke-width: 8px;
}

